@using NewsletterAPI.Data.Models
@model List<SendNewsletterLog>

<h2>News Log</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>NewsTitle</th>
            <th>SendTime</th>
            <th>SendStatus</th>
            <!-- Add other columns as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Id</td>
                <th>@record.NewsTitle</th>
                <td>@record.SendTime</td>
                <td>@record.SendStatus</td>
                <!-- Add other columns as needed -->
            </tr>
        }
    </tbody>
</table>